<section class="hero ">
  <div class="hero-body has-text-centered is-size-2">
    <div class="container">
      <div class="title is-size-2">
        Your very own history service
      </div>
      <div class="subtitle is-size-4">
        (web history, that is)
      </div>
    </div>
  </div>
</section>
